.glyphicon-ok {
        line-height: 6px;
    }

    .ObsevationModal {
        margin-top: 5px;
        float: left;
        cursor: pointer;
    }

    .spanexpand {
        padding-left: 10px;
        font-size: 10px;
    }

    .Levels {
        display: block;
        background-color: #c1c1c1;
        margin: 5px;
        width: 100%;
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
        padding: 0px 15px 0px 18px;
        border-radius: 2px;
    }

        .Levels a, .Levels label {
            color: #333333 !important;
            cursor: pointer;
        }

    .SubLevels {
        display: block;
        background-color: #e5e3e3;
        margin: 5px;
        width: 100%;
        height: 30px;
        vertical-align: middle;
        line-height: 30px;
        padding: 0px 15px 0px 18px;
        border-radius: 2px;
    }

        .SubLevels a, .SubLevels label {
            color: #333333 !important;
            cursor: pointer;
        }

    .Questions {
        display: block;
        background-color: #f3f3f3;
        margin: 5px;
        width: 100%;
        height: 30px;
        color: black;
        vertical-align: middle;
        line-height: 23px;
        padding: 0px 15px 0px 18px;
        border-radius: 2px;
        border-left: 1px solid #f3f3f3;
        border-right: 1px solid #f3f3f3;
        border-top: 1px solid #f3f3f3;
        margin-bottom: 0px;
    }

        .Questions a, .Questions label {
            color: #333333 !important;
            cursor: pointer;
        }

    .DeleteClass {
        border-radius: 35px;
        width: 80px;
        height: 25px;
        color: black;
        float: right;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        background-color: transparent;
    }

    .Answers {
        display: block;
        background-color: transparent;
        margin: 0px 0px;
        width: 60%;
        height: 30px;
        color: #333333;
        border-radius: 25px;
        vertical-align: middle;
        line-height: 23px;
        padding: 5px 15px 5px 18px;
    }

        .Answers a {
            color: #333333 !important;
            cursor: pointer;
        }

    .ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
        border-color: transparent !important;
    }

    .ui-input-btn input {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 60% !important;
        height: 60%;
        padding: 0;
        border: 0;
        outline: 0;
    }

    .glyphicon:hover {
        text-decoration: none;
    }

    .superScript {
        font-size: 9px;
        margin: 0px 7px;
        color: gray;
    }

    .spanHead {
        font-size: 18px;
    }

    .link {
        cursor: pointer;
    }